.parent{
    background-color: orange;
    height: 500px;
    padding: 8px;
}
.child{
    background-color: yellow;
    height: 400;
    padding: 8px;
}
.grand{
    background-color: yellowgreen;
    height: 300px;
    padding: 8px;
}
.grand2{
    background-color: gray;
    height: 200;
    padding: 8px;
}